<html  xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<body>
	
	<h1 style="color: purple; text-align: center"><u>HBQC BANK HOME PAGE</u></h1>
	<br>
	<h2 style="text-align: center"><a th:href="@{/bank/offers}">Show Offers</a></h3><br>
	<h2 style="text-align: center"><a th:href="@{/bank/balance}">Show Balance</a></h2><br>
	<h2 style="text-align: center"><a th:href="@{/bank/loan_approve}">Approve Loan</a></h2><br>
	<h2 style="text-align: center"><a th:href="@{/user/register}">Register User</a></h2><br>
	
</body>
</html>