<html  xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
<body>
	
	<h1 style="color: blue; text-align: center"><u>Current Offers Pages</u></h1><br>
	<h2  style="color: green; text-align: center">
	<ul>
		<li>Home Loan ROI :: 7.5%</li>
		<li>Car Loan ROI :: 9%</li>
		<li>Personal Loan ROI :: 12%</li>
	</ul>
	</h2>
	<br>
	
	<h2 style="text-align: center"><a th:href="@{/bank/.}">Home</a></h2><br>
		<h2 style="text-align: center"><a th:href="@{/signout}">Log Out</a></h2>
	
</body>
</html>